* {
    margin: 0px;
    padding: 0px;
}

#contenedor {
    /* PRIMER ISSUE */
    background-color: #fff8f0;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}

#contenedor::after {
    /* CUARTO ISSUE */
    content: "";
    display: table;
    clear: both;
}

#contenedor div.encabezado img.logo {
    /* SEGON ISSUE */
    background-image: url("../imgs/logo.png");
    height: 50px;
    width: auto;
    margin-right: 800px;
}

div.encabezado {
    /* PRIMER ISSUE */
    background-image: url("../imgs/guesteaus.png");
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 36px;
    text-align: center;
    height: 200px;
    background-position: 80% 200%;

}

div.menu ul li a {
    /* PRIMER ISSUE */
    background-color: #a77e58;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    
}

div.menu ul li {
    /* TECER ISSUE */
    display: inline-block;
}

div.menu li a:hover,
div.menu li.active a {
    /* TECER ISSUE */
    transition: background-color 0.3s ease;
    background-color: #5a3e36;
    border-bottom: 2.5px solid #610e0e;
}

div.contenido {
    /* PRIMER ISSUE */
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;

}

div.sidebar {
    /* PRIMER ISSUE */
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;

    /* CUARTO ISSUE */
    float: left;
    width: 70%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

div.pie {
    /* PRIMER ISSUE */
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;

}